@{
  Layout="_Layout";
}
@using Bakery.Models
@Html.ActionLink("Flavor Menue","Index", "Flavor")
<br>
@Html.ActionLink("Treat Menue","Index", "Treat")
<br>
@using(Html.BeginForm())
{
  <select name="category">
    <option value=0>All Items</option>
    @foreach(Flavor f in ViewBag.CategoryOptions)
    {
      <option value=@f.FlavorId>@f.Description</option>
    }
  </select>
  <input type = "submit" value = "submit">
}
<ul>
  @foreach(Treat t in Model)
  {
    <li>@t.Description</li>
  }
</ul>