<h1>Treats</h1>
<ul>
  @using Bakery.Models
  @foreach(Treat t in Model)
  {
    <li>@Html.ActionLink(t.Description, "Detail", new {id=t.TreatId})</li>
  }
</ul>
@Html.ActionLink("Create","Create","Treat")